* {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

#root {
    background-color: rgb(179, 184, 197);
}

.chessboardContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.chessboardContainer>.gameOverModalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.350);
    position: absolute;
    width: 100vw;
    height: 100vh;
    
    z-index: 100;
}

.chessboardContainer>.gameOverModalContainer>.gameOverModal {
    background-color: rgb(219, 219, 231);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px black;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.gameOverModal > span{
    font-size: 2em;
}
.gameOverModal * svg{
    translate: 0 2px;
}
.gameOverModal > p {
    font-size: 1.3em;
}
.gameOverModal > .retryButton{
    background-color: rgb(86, 86, 110);
    padding: 7px 12px ;
    margin-top: 10px;
    font-size: 1.2em;
    color: white;
    border-radius: 6px;
    border: 0;
    cursor: pointer;
    transition: 0.1s;
}
.gameOverModal > .retryButton:hover{
    transition: 0.1s;
    box-shadow: 0 0 10px rgb(142, 147, 164);
}
.gameData {
    display: flex;
    margin: 0 20px;
    margin-top: 20px;
    border-radius: 8px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    background-color: rgb(219, 219, 231);
}

.gameData>.turn {
    font-weight: 500;
    font-size: 1.2em;
}

.gameData>.turn>svg {
    translate: 0 2px;
}

.chessboardDisplay {
    display: flex;
    justify-content: center;
    margin: 0 20px;
}

.chessboard {
    width: max-content;
    border: 3px solid gray;
}

.row {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.row>div {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    position: relative;

}

.row>div>img {
    transition: 0.2s;
    aspect-ratio: 1 / 1;
    max-width: 70%;
    height: auto;
    object-fit: contain;
    cursor: pointer;
    filter: drop-shadow(0px 0px 2px rgb(115, 113, 113));
}

.row>div>.blockCoord {
    position: absolute;
    left: 5%;
    top: 5%;
}



.chessboard .row:nth-child(even)>div:nth-child(even) {
    background-color: rgb(219, 219, 231);
}

.chessboard .row:nth-child(odd)>div:nth-child(odd) {
    background-color: rgb(219, 219, 231);
}

.chessboard .row:nth-child(even)>div:nth-child(odd) {
    background-color: rgb(86, 86, 110);
}

.chessboard .row:nth-child(odd)>div:nth-child(even) {
    background-color: rgb(86, 86, 110);
}

.chessblock {
    width: 80px;
    height: 80px;
}

.selectedPiece>img {
    position: relative;
    transition: 0.2s;
    filter: drop-shadow(2px 2px 0px rgb(97, 97, 97)) drop-shadow(0px 0px 5px rgb(116, 219, 237)) ! important;
    scale: 1.2;
    animation: rotatePiece 1.6s linear infinite;
}

.movementPointer {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: rgba(77, 82, 91, 0.22);
    /* background-color: red; */
    border-radius: 50%;
    animation: changeMovementPointerOpacity 3s linear infinite;
}

.eatenPieces {
    background-color: rgb(179, 184, 197);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eatenPieces>div {
    margin: 10px 10px;
}

.eatenPieces>div>img {
    height: 50px;
    width: 100%;
}

@keyframes changeMovementPointerOpacity {
    0% {
        background-color: rgba(207, 215, 230, 1);

    }

    25% {
        background-color: rgb(105, 136, 157);
    }

    50% {
        background-color: rgb(255, 255, 255);
    }

    75% {
        background-color: rgb(105, 136, 157);
    }

    100% {
        background-color: rgba(207, 215, 230, 1);
    }
}

@keyframes rotatePiece {
    0% {
        rotate: 0deg;
    }

    25% {
        rotate: 5deg;
    }

    50% {
        rotate: 0deg;
    }

    75% {
        rotate: -5deg;
    }

    100% {
        rotate: 0deg;
    }
}